<div class="row">
    <div class="col-6 col-md-3 col-lg-2" style="padding-bottom: 30px" *ngFor="let item of items | async">
        <div class="card">
            <img src="{{item.imageLink}}" alt="{{item.name}}" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <button (click)="setSelected(item)" class="btn btn-outline-success btn-block"
                        data-toggle="modal"
                        [disabled]="!item.enabled">Ver
                </button>
            </div>
        </div>
    </div>
</div>
